body {
    background-color:black;
    color:gray;
}

header, main, nav, footer {
  text-align: center;
}

nav a {  /*links within "nav" container*/
    padding:15px;
    padding-bottom:4px;
    font-size: 1.8em;
    text-decoration: none; /* removes unlerlines*/
    color: white; /* default, links are blue*/
}

nav a:hover { /*pseudo class*/
    boarder-bottom:2px orange solid;
    font-size: 2em;
    transition: .9s; /* transition effect*/
}

#me, #welcomeText {
        float:left;
}

footer {
    clear: left
}